body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(240, 242, 245, 1);
}

#profile_picture {
    width: 108px;
    height: 108px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid black;
}

header {
    background-color: rgba(0, 123, 255, 0.8) !important;
    color: white;
    text-align: center;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #111;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

section, header, footer {
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgba(51, 51, 51, 0.7) !important;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
}

a {
    text-decoration: none;
    color: blue;
    transition: color 0.3s;
}
a:hover {
    color: orange;
}
a:visited {
    color: purple;
}
a:visited:hover {
    color: orange;
}

h1 {
    background: linear-gradient(to right, rgba(52, 255, 6, 0.9), rgba(188, 255, 5, 0.9));
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}

h2 {
    width: 15%;
    background: linear-gradient(to right, rgba(75, 11, 236, 0.9), rgba(229, 5, 249, 0.9));
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: black 1px 1px 1px;
    font-size: 24px;
}
footer h2 {
    width: 100%;
    color: white;
}